---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

/* Publications / Research: remove underline from archive item titles */
.archive__item-title a,
.archive__item-title a:visited,
.archive__item-title a:hover,
.archive__item-title a:focus {
  text-decoration: none !important;
}

/* Also prevent the hover rule in _archive.scss from underlining the whole H2 */
.archive__item:hover .archive__item-title {
  text-decoration: none !important;
}
